
    @model IEnumerable<Proizvod>

    <h1 font-color="whitesmoke">Popis Proizvoda</h1>
    <p>
        <a asp-action="Create" class="btn btn-success"> Unesi novi Proizvod</a>
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.SlikaUrl)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Naziv)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Cijena)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Sastojci)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Kategorija)</th>
                <th>Radnje nad podacima</th>
            </tr>
        </thead>
        <tbody>

            
            @foreach (var item in Model)
            {
                <tr>
                <td> <img class="img" src="@Html.DisplayFor(modelItem => item.SlikaUrl)" alt="@Html.DisplayFor(modelItem => item.Naziv)" /> </td>
                    <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>@Html.DisplayFor(modelItem => item.Naziv)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cijena)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sastojci)</td>
                    <td>@Html.DisplayFor(modelItem => item.Kategorija.Naziv)</td>
                    <td><a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info"> Uredi</a> | <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Obriši</a></td>
                    
                </tr>
            }
           
        </tbody>
    </table>


